$theme-colors: (
  'primary': #2F4582,
  'secondary':#e3e1e1,
  'tertiary': #ef5454,
  'success': #32987d,
  'info': #5298e8,
  'warning': #9a031e,
  'light': #f8f6f3,
  'dark': #E5AA70,
  'danger': #f8f6f3,
);

$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%
);

//import bootstrap and font 
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:wght@900&display=swap');

//basic css for htm body and scroll bar
html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #f8f6f3;
	font-family: 'League Spartan', sans-serif;
}

.nav-link{
  font-family: 'League Gothic', sans-serif;
  font-size: 1.5rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2F4582;
  border-radius: 10px;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-text{
  font-size: 5.5rem;
  line-height: 0.8em;
}

.lead{
  font-size: 1.5rem;
}

.cas-logo{
	width: 22rem;
}

.logo-nav{
  width: 300px;
}

.logo-nav-light{
  width: 500px;
}

@media screen and (max-width: 768px){
  .main-text{
    font-size: 3.50rem;
  }
  .lead{
    font-size: 1rem;
  }
  .cas-logo{
    width: 15rem;
  }
  .logo-nav{
    width: 250px;
  }
  .logo-nav-light{
    width: 200px;
  }
}



.strokeme{
  color: #f8f6f3;
  text-shadow:
  -1.5px -1.5px 0 #2F4582,
  1px -1.5px 0 #2F4582,
  -1.5px 1.5px 0 #2F4582,
  1.5px 1.5px 0 #2F4582;  
  -webkit-font-smoothing: antialiased;

}


.box{
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px 10px;
  text-align: center;

  strong{
    display: block;
    margin-bottom: 30px;
  }

  .code{
    border: 0px;
    text-align: center;
    border-bottom: 3px solid #999;
    width: 30px;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
  }
}

.activation{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 

.card{
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card-link{
  text-decoration: none;
}

.product-card{
  font-family: "Inconsolata", monospace;
}

.product_name{
  font-size: 1.2rem;
  font-weight: 500;
}

.product_price{
  font-size: 2rem;
  font-weight: 500;
}

.free_shipping{
  font-weight: 400;
}

.product_desc{
  font-size: 0.8rem;
  font-family: "Incnsolata", monospace;
  font-weight: 500;
}

span {cursor:pointer; }
.minus, .plus{
  width:18px;
  height:20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.number input{
  font-family: "Inconsolata", monospace;
  height: 34px;
  width: 35px;
  text-align: center;
  font-size: 18px;
  background: #e3e1e1 ;
  border: 1px solid #e3e1e1;
  border-radius:1px;
  display: inline-block;
  vertical-align: middle;
}

.quantity_helper{
  font-size: 0.8rem;
  font-weight: 200;
}

.copyright{
  font-size: 0.8rem;
  font-weight: 500;
}


.checkout_box{
  height: 40vh;
}
.checkout_box p{
  font-size: 1.2rem;
}

.input-error{
  outline: 1px solid red;
}

//in conjuction with javascript - when active do animation
.active.fade-bottom {
  animation: fade-bottom 1s ease;
}
.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}

.start_fade-bottom{
  animation: fade-bottom 1s ease;
}
.start_fade-left {
  animation: fade-left 1s ease;
}
.start_fade-right {
  animation: fade-right 1s ease;
}


//key frames animations
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.r-date{
  font-size: 1.1rem;
  font-weight: 400;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
  padding-top: 15rem;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.text_effect{
  background-image: linear-gradient(90deg, #c9ddff, #ecb0e1);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
}

.text_effect:hover{
  background-size: 100% 5px;
}

//card css
.card_img{
  background-image: url('../images/Whole School.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_img_1{
  background-image: url('../images/oldcas.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.school_card {
  height: 75vh;
}

.school_card_1 {
  height: 99vh;
}

.home-testimonial{
  background-color: #5298e8;height: 380px
}
.home-testimonial-bottom{
  background-color: #f8f6f3;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
}
.home-testimonial h3{
  color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase
}
.home-testimonial h2{
  color: white;font-size: 28px;font-weight: 700
}
.testimonial-inner{
  position: relative;top: -174px
}
.testimonial-pos{
  position: relative;top: 24px
}
.testimonial-inner .tour-desc{
  border-radius: 5px;padding: 40px
}
.color-grey-3{
  font-family: "Incnsolata", monospace;
  ;font-size: 14px;color: #6c83a2
}
.testimonial-inner img.tm-people{
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none
}
.link-name{
  font-family: "Incnsolata", monospace;
  ;font-size: 14px;color: #6c83a2
}
.link-position{
  font-family: "Incnsolata", monospace;
  ;font-size: 12px;color: #6c83a2
}

.home-mv{
  margin-top: 0;
}

@media screen and (max-width: 768px){
  .home-mv{
    margin-top: 80vh;
  }
}

.logo-footer{
  padding-left: 130px;
}


.checkout_box_1{
  height: 50vh;
}